language: scala

before_install:
  - curl -sL https://github.com/shyiko/jabba/raw/master/install.sh | bash && . ~/.jabba/jabba.sh

install:
  - $JABBA_HOME/bin/jabba install $TRAVIS_JDK
  - unset _JAVA_OPTIONS
  - export JAVA_HOME="$JABBA_HOME/jdk/$TRAVIS_JDK" && export PATH="$JAVA_HOME/bin:$PATH" && java -Xmx32m -version

env:
  global:
    - JABBA_HOME=$HOME/.jabba
  matrix:
    - TRAVIS_JDK=adopt@1.8.192-12
    - TRAVIS_JDK=adopt@1.11.0-1

matrix:
  fast_finish: true
  allow_failures:
    # Java 11 is still not fully supported. It is good that we are already
    # testing play-json using it to better discover possible problems but we
    # can allow failures here too.
    - env: TRAVIS_JDK=adopt@1.11.0-1

scala:
  - 2.12.8
  - 2.11.12
  - 2.13.0-M3

script:
  - sbt -DscalaJSStage=full ++$TRAVIS_SCALA_VERSION validateCode test mimaReportBinaryIssues

cache:
  directories:
    - "$HOME/.ivy2/cache"
    - "$HOME/.sbt"
    - "$HOME/.jabba/jdk"

before_cache:
  - rm -rf $HOME/.ivy2/cache/com.typesafe.play/*
  - rm -rf $HOME/.ivy2/cache/scala_*/sbt_*/com.typesafe.play/*
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

notifications:
  slack:
    secure: JPXUQyHjF3FKac8EdQimLZA5B4iGGtMsslK9w+tjgcNbupbuqErAmLdlebJU7lOVaPYbk9DrKjaqx82248hVca++t5uhEuj1Qgijl3Fn3VdTyv94D+wQ0p/5iiNjTOF1TS5R8NnY6WHaXfMD/ibGnlZKHHjgGX3RyszHmg8YWVxD8+Y/0uE+q9LddPeeGWGEmWgfwHS8fI+5c3/f7cwv7r2wEkHpXOorZbDLlyjD7/b22GBw+8/rsIEEnURNOI7A58IDJHRG4JAkv+Y/vX4i7mPSWdD4/YD6shAy0Jgxk8tNV4WtU8Mq9cV3/Kd8P+hWAaSd6aAhsaj+kNq9C2ZrTDVDe02tcZ34j0g0oaPZQDXTLATHdo0qX9sf+k5EWm25swkhn4CotcqBZ8frDwfO07j9n3lj5lxLauaRzurwoNYaY6nuDjPzFwi1vA6VqYHUnR0z0k+rh7EPbmgZjqtLH8gdwbYqE96NTd1O0A6kngMJ1T6FhHhmNbK6uepAp94q96s41OoyBXMc9pFx8V9dksMzGvvm0n1Or+B7F38OKjX9CMsCh/tuv/wC1sTc6dKh7Eg+odfwEUM1DuGS3JU5qMRkXqvj6aOeoCp+tvU9ZGWA/iELiQKlX4tZ4kY5Onj4VgWjfaKsx3FpnLt3kBXFL2UUF/+scumV31USgTKSEnA=
