version: ~> 1.0

language: scala

git:
  depth: false # Avoid sbt-dynver not seeing the tag

before_install:
  - curl -Ls https://raw.githubusercontent.com/shyiko/jabba/0.11.2/install.sh | JABBA_VERSION=0.11.2 bash && . ~/.jabba/jabba.sh
  # Travis-CI has (as of March 2021, anyway) an outdated sbt-extras version,
  # so overwrite it with a March 2021 version that works with sbt 1.4.8+
  - |
    curl -sL https://raw.githubusercontent.com/paulp/sbt-extras/dc4f350f112580fcdf5f6fa7e8d5d2116475f84a/sbt  > /tmp/sbt-launch-script || travis_terminate 1
    chmod +x /tmp/sbt-launch-script || travis_terminate 1
    sudo mv /tmp/sbt-launch-script /usr/local/bin/sbt || travis_terminate 1

install: jabba install "adopt@~1.$TRAVIS_JDK.0-0" && jabba use "$_" && java -Xmx32m -version

jobs:
  include:
    - stage: check
      name: "Code style check. Run locally with: sbt validateCode mimaReportBinaryIssues docs/validateDocs"
      script: sbt validateCode mimaReportBinaryIssues docs/validateDocs
      env:
        - TRAVIS_JDK=11

    - stage: test
      name: "Run tests with Scala 2.12 and AdoptOpenJDK 11"
      script: scripts/test-code.sh
      env:
        - SCALA_VERSION=2.12.15
        - TRAVIS_JDK=11

    - name: "Run tests with Scala 2.13 and AdoptOpenJDK 11"
      script: scripts/test-code.sh
      env:
        - SCALA_VERSION=2.13.7
        - TRAVIS_JDK=11

    - name: "Run tests with Scala 2.12 and AdoptOpenJDK 8"
      script: scripts/test-code.sh
      env:
        - SCALA_VERSION=2.12.15
        - TRAVIS_JDK=8

    - name: "Run tests with Scala 2.13 and AdoptOpenJDK 8"
      script: scripts/test-code.sh
      env:
        - SCALA_VERSION=2.13.7
        - TRAVIS_JDK=8

    - name: "Run tests with Scala 3 and AdoptOpenJDK 8"
      script: scripts/test-code.sh
      env:
        - SCALA_VERSION=3.0.0
        - TRAVIS_JDK=8

    - stage: release
      name: "Release artifacts to Sonatype"
      script: sbt ci-release
      env:
        - TRAVIS_JDK=11

stages:
  - name: check
  - name: test
  - name: release
    if: tag IS present

cache:
  directories:
    - "$HOME/.cache/coursier"
    - "$HOME/.ivy2/cache"
    - "$HOME/.sbt"
    - "$HOME/.jabba/jdk"

before_cache:
  - rm -rf $HOME/.ivy2/cache/com.typesafe.play/*
  - rm -rf $HOME/.ivy2/cache/scala_*/sbt_*/com.typesafe.play/*
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

notifications:
  slack:
    secure: JPXUQyHjF3FKac8EdQimLZA5B4iGGtMsslK9w+tjgcNbupbuqErAmLdlebJU7lOVaPYbk9DrKjaqx82248hVca++t5uhEuj1Qgijl3Fn3VdTyv94D+wQ0p/5iiNjTOF1TS5R8NnY6WHaXfMD/ibGnlZKHHjgGX3RyszHmg8YWVxD8+Y/0uE+q9LddPeeGWGEmWgfwHS8fI+5c3/f7cwv7r2wEkHpXOorZbDLlyjD7/b22GBw+8/rsIEEnURNOI7A58IDJHRG4JAkv+Y/vX4i7mPSWdD4/YD6shAy0Jgxk8tNV4WtU8Mq9cV3/Kd8P+hWAaSd6aAhsaj+kNq9C2ZrTDVDe02tcZ34j0g0oaPZQDXTLATHdo0qX9sf+k5EWm25swkhn4CotcqBZ8frDwfO07j9n3lj5lxLauaRzurwoNYaY6nuDjPzFwi1vA6VqYHUnR0z0k+rh7EPbmgZjqtLH8gdwbYqE96NTd1O0A6kngMJ1T6FhHhmNbK6uepAp94q96s41OoyBXMc9pFx8V9dksMzGvvm0n1Or+B7F38OKjX9CMsCh/tuv/wC1sTc6dKh7Eg+odfwEUM1DuGS3JU5qMRkXqvj6aOeoCp+tvU9ZGWA/iELiQKlX4tZ4kY5Onj4VgWjfaKsx3FpnLt3kBXFL2UUF/+scumV31USgTKSEnA=
